*{
    margin: 0%;
    padding: 0%;
}

html{
    background-color: #164f4f
}

#hd{
    font-size: 50px;
}

#img1{
    border-radius: 27px;
    padding: 5px;
    width: 220px;
    height: 100px;
    float: left;
}

#bf-header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: sticky;
    top:0px;
}

#cs{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #05854C;
    border-radius: 27px;
    width: 75%;
    height: 200px;
}

#ed{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #05854C;
    border-radius: 27px;
    width: 75%;
    height: 200px;
}

#Canvas{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#Eduarte{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#img2{
     width: 200px;
     height: 150px;
}

#img3{
    width: 200px;
    height: 150px;
}

header{
display: flex;
padding: 20px;
width: 1100px;
height: 70px;
border-radius: 37px;
background-color: #05854C;
align-items: center;
justify-content: center;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #05854C;
    position: absolute;
    bottom: 0%;
    width: 100%;
}