html
{
    background-color: #164f4f;
}
#image-1
{
    border-radius: 27px;
    padding: 5px;
    width: 220px;
    height: 100px;
    float: left;
}
#pagina-1
{
    background-color: #05854C;
    height: 14vh;
    width: 55vw;
    border-radius: 12px;
    text-align: center;
    justify-content: center;
    font-size: large;
}
#pagina-2
{
    background-color: #05854C;
    height: 20vh;
    width: 55vw;
    border-radius: 12px;
    text-align: center;
    justify-content: center;
    font-size: large;
}
h1
{
    background-color: #05854C;
    padding: 10px;
    width: 1200px;
    height: 90px;
    border-radius: 37px;
    float: right;
    text-align: center;
    justify-content: center;
}
#image-2
{
    border-radius: 37px;
    padding: 25px;
    width: 500px;
    height: 300px;
    float: right;  
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #05854C;
    position: absolute;
    bottom: 0%;
    width: 100%;
}