*{
    margin: 0%;
    padding: 0%;
}

html{
    background-color: #164f4f
}

#img1{
    border-radius: 27px;
    padding: 5px;
    width: 250px;
    height: 130px;
    float: left;
}

#BSA{
    display: flex;
   justify-content: space-around;
    align-items: center;
    position: sticky;
    top:0px;
}

#ps{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #05854C;
    border-radius: 27px;
    width: 50%;
    height: 200px;
}

#vd{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #05854C;
    border-radius: 27px;
    width: 50%;
    height: 200px;
}

#Voorwaarden{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#Proces{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#img2{
     width: 350px;
     height: 200px;
}

#img3{
    width: 350px;
    height: 200px;
}

header{
display: flex;
padding: 20px;
width: 1100px;
height: 70px;
border-radius: 37px;
background-color: #05854C;
align-items: center;
justify-content: center;
}
