* {
    margin: 0%;
    padding: 0%;
}

header{
    background-color: darkgreen  ;
    padding: 60px;
}
img {
  border-radius: 8%;
}

html{
    background-color: teal;
}
a{
text-decoration: none;
color: black;
}

nav img {
    display: flex;
    justify-content: flex-start;
    margin: 0%;
    padding: 0%;
    width: 250;
    height: 100px;
}
.tcr{
    display: flex;
   
    justify-content: center;
}

nav {
    display: flex;
    flex-direction: row;
    
}

